@{
    ViewData["Title"] = "Rôles de l'application";
}
<div>
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <table class="customTable" id="rolesTable">
    </table>
</div>

@section Links{
    <link href="https://cdn.datatables.net/v/bs5/dt-2.2.2/cr-2.0.4/sp-2.3.3/datatables.min.css" rel="stylesheet" integrity="sha384-e1+ByJTaytMT6Htvt7psIDKBlPeVIFAsiuLxwwn4Pkdy+IBdg1VxtkwXV00zylkJ" crossorigin="anonymous">
}
@section Scripts {
    <script src="https://cdn.datatables.net/v/bs5/dt-2.2.2/cr-2.0.4/sp-2.3.3/datatables.min.js" integrity="sha384-HKgG2rDvMdhDpBvNEKozdvGNQ/JWALSwHW9SP/fdCG0JMLdjYg1cLktf9jf+a5RJ" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            $('#rolesTable').DataTable({
                rowId: 'id',
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.0/i18n/fr-FR.json',
                },
                ajax: {
                    url: '/roles/GetRoles',
                    dataSrc:'',
                    type: 'GET'
                },
                columnDefs: [
                    {
                        target: 0,
                        data: "name",
                        title: "Nom"
                    },
                    {
                        target: 1,
                        data: "id",
                        render: function (data, type, row, meta) {
                                    return '<a href="Roles/AddUsers/' + data + '"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/></svg></a>';
                        }
                    },
                    {
                        target: 2,
                        data: "id",
                        render: function (data, type, row, meta) {
                                    return '<a href="Roles/Users/' + data + '"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16"><path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/></svg></a>';
                        }
                    }
                ]

            });
        })
    </script>
}

